@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Oswald&family=Roboto&family=Roboto+Condensed&family=Source+Sans+Pro&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Fira Sans', sans-serif;
    background-color: #2ae0d4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    background-color: rgb(216, 221, 226);
    border-radius: 2px;
    box-shadow: 19px 20px 8px -9px rgba(0,0,0,0.2);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
}
header{
    background-color: #13334c;
    color: azure;
    text-align: center;
    border-bottom: 1px solid #d4cdcd;
    padding: 20px 40px;
}
#formuser{
    padding: 30px 20px;
}
.form-control{
    margin-bottom: 7px;
    padding-bottom: 20px;
    position: relative;
}
.form-control label{
    display: inline-block;
    margin-bottom: 7px;
    font: weight 200px;
}
.form-control input{
    border: none;
    background-color: rgb(238, 250, 250);
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 12px;
    width: 100%;
}
.form-control, input:focus{
    outline: none;
}
#formuser input[type="button"]{
    background-color: #13334c;
    border: 1px solid #2ae0d4;
    border-radius: 2px;
    color: #f6f6e9;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
}
.form-control p{
    position: absolute;
    font-size: small;
    font-weight: 500;
    text-align: right;
    color: red;
}
