@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family:'Roboto', sans-serif;
    background-color: #FFF8F3;
    text-align: center;

}
h1{
    background-color: blue;
    color: aliceblue;
    text-align: center;
    padding: 27px;
    
}
div{
    background-color: blue;
    padding: 12px;
    margin-left: 700px;
    margin-right: 700px;
    border-radius: 12px;
    border: 2px solid;
    margin-top: 42px;
    color:white;
    border: 1px solid #000;
}
img{
    margin-top: 42px;
    border-radius: 42px;
    border: 1px solid;
}
