@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Oswald&family=Roboto&family=Roboto+Condensed&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
.header{
    background-color: aliceblue;
    margin: 15px 15px 0px 15px;
    padding: 20px;
    text-align: center;
    border: 2px solid #000;
}
.menu{
    background-color: aliceblue;
  margin: 3px 15px 15px 15px;
  padding: 20px;
  text-align: center;
  border: 2px solid #000;

}
.texto{
    background-color: aliceblue;
    width: 20%;
    height: 250px;
    margin: 15px;
    padding: 20px;
    text-align: center;
    border: 2px solid #000;
    float: left;
}
.medio{
    background-color: aliceblue;
    width: 47%;
    height: 250px;
    margin: 15px;
    padding: 20px;
    text-align: center;
    border: 2px solid #000;
    float: left;
}
.texto2{
    background-color: aliceblue;
    width: 20%;
    height: 250px;
    margin: 15px;
    padding: 20px;
    text-align: center;
    border: 2px solid #000;
    float: left;
}
.footer{
    background-color: aliceblue;
    margin: 3px 15px 15px 15px;
    padding: 20px;
    text-align: center;
    border: 2px solid #000;  
    float: left;
    clear: both;
    width: 96%;
}