@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&family=Roboto+Condensed&family=Source+Sans+Pro&display=swap');

*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: 'Oswald', sans-serif;
    background-color: slategrey;
    color: aliceblue;
    text-align: center;
}
h1{
    background-color: blue;
    padding: 12px;
    border-radius: 12px;
    border: 2px solid;
    color: azure;
    margin-left: 600px;
    margin-right: 600PX;
    margin-top: 200px;
}
form{
    margin-top: 1%;  
}